<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.aie.tendydeveloper">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA"  tools:node="remove"  />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        android:testOnly="false"
        android:windowSoftInputMode="stateHidden">
        <activity android:name="com.aie.tendydeveloper.admin.AdminDetailTentor"></activity>
        <activity android:name="com.aie.tendydeveloper.tentor.List_Aktivitas_Tentor" />
        <activity android:name="com.aie.tendydeveloper.admin.AdminAddLes" />
        <activity android:name="com.aie.tendydeveloper.admin.DaftarPresensiTentor" />
        <activity android:name="com.aie.tendydeveloper.admin.AktivasiTentor" />
        <activity android:name="com.aie.tendydeveloper.admin.AktivasiLes" />
        <activity android:name="com.aie.tendydeveloper.admin.AktivitasTentor" />
        <activity android:name="com.aie.tendydeveloper.admin.TentorBaru" />
        <activity android:name="com.aie.tendydeveloper.admin.SiswaBaru" />
        <activity android:name="com.aie.tendydeveloper.admin.DaftarTentor" />
        <activity android:name="com.aie.tendydeveloper.admin.DaftarSiswa" />
        <activity android:name="com.aie.tendydeveloper.tentor.PresensiTentor" />
        <activity android:name="com.aie.tendydeveloper.tentor.LesAktifTentor" />
        <activity android:name="com.aie.tendydeveloper.tentor.ProfilTentor" />
        <activity android:name="com.aie.tendydeveloper.murid.DaftarHarga" />
        <activity android:name="com.aie.tendydeveloper.murid.Lesku" />
        <activity android:name="com.aie.tendydeveloper.murid.ProfilMurid" />
        <activity android:name="com.aie.tendydeveloper.tentor.TentorActivity" />
        <activity android:name="com.aie.tendydeveloper.murid.MuridActivity" />
        <activity android:name="com.aie.tendydeveloper.admin.AdminActivity" />
        <activity android:name="com.aie.tendydeveloper.KunjunganTentor" />
        <activity android:name="com.aie.tendydeveloper.RegistrasiTentor" />
        <activity android:name="com.aie.tendydeveloper.Registrasi" />
        <activity android:name="com.aie.tendydeveloper.Login" />
        <activity android:name="com.aie.tendydeveloper.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>